body {
    background-color: #9795956e;
}
.main {
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    width: 800px;
    height: 500px;
    margin: auto;
    background-color: #283750;
    
}
.divbtnini {
    position: absolute;
    width: 95px;
    margin-top: 0px;
    
}

.btninicio {
    width: 83px;
    height: 83px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 10px;
}
.divdesl {
    position: absolute;
    width: 700px;
    margin-left: 110px;
    margin-top: 12px;
   /*background-color: rgb(107, 91, 91);*/
}
.btndesl {
    width: 585px;
    height: 82px;
    border-radius: 10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
.btnferramenta {
    width: 83px;
    height: 81px;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 6px;
    
}
 .divsenha {
     position: absolute;
    width: 678px;
    margin-left: 110px;
    height: 50px;
    border-radius: 10px;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 100px;
 }
 .divsenhaA {
    position:absolute;
    margin-left: 70px;
    margin-top: 15px;
 }
.btnsenha {
    position:absolute;
    margin-left: 30px;
    width: 30px;
    height: 50px;
    border-radius: 10px;
}

.divacesssenha {
    position:absolute;
    margin-left: 490px;
    margin-top: 15px;
}

.corpoinf {
    position: absolute;
    margin-top: 160px;
}
.divmsg {
    width: 678px;
    margin-left: 110px;
    height: 150px;
    border-radius: 10px;
    background-image: url(./icones/msg.png);
    margin-top: 10px;
}

.divcont {
    width: 294px;
    margin-left: 110px;
    margin-top: 10px;
    height: 150px;
    border-radius: 10px;
    background-image: url(./icones/cont.png);
}

.divtinta {
    width: 255px;
    margin-left: 414px;
    margin-top: -150px;
    height: 150px;
    border-radius: 10px;
    background-image: url(./icones/tinta.png);
}

.divdata{
    width: 110px;
    margin-left: 680px;
    margin-top: -150px;
    height: 150px;
    border-radius: 10px;
    background-color: #3f6d9a ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.divdataA {
    position: absolute;
    color: whitesmoke;
    margin-left: -40px;
    margin-top: 30px;

}