body {
    background-color: #D8D8D8;
	
}
.logoA {
	border: black;
}
.logoverauto {
	position: absolute;
	margin: 5px 690px 0px;
	border-radius: 10px;
}
.titulo {
	font: normal 15pt Arial;
	font-size: 35px;
	border-bottom-color: black;
	margin-top: -55px;
	text-align: center;
}
.navbotao {
	display: block;
}
.botaoprinc {
	margin-top: 50px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 15px;
	width: 150px;
	list-style: none;
	text-transform: uppercase;
}
.botaoprinc li{
	background-color: #87CEEB;
	padding: 10px;
	margin: 2px;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
	border-radius: 0px;
}
.botaoprinc li:hover{
	background-color: #543af6;
}
.botaodiv {
	border-color: #D8D8D8;
	text-align: center;
	border-radius: 3px;
	font: normal 15pt Arial;
	font-size: 15px;
	width: 150px;
	background-color:#87CEEB;
}
.diver {
	position: absolute;
	text-align: center;
	margin-left: 200px;
	margin-top: -325px;
	width: 150px;
	height: auto;
	background-color: white;
	border-radius: 5px;
	
}
.adiver {
	margin: auto;
	top: 500px;
	font: normal 15pt Arial;
	font-size: 30px;
}
.adivera {
	background-color: #38bff5;
	width: 150px;
	margin: auto;
	font: normal 15pt Arial;
	font-size: 20px;
}
.mode {
	margin-top: -0px;
	font-family: normal 15pt Arial;
	font-size: 35px;
}
.listas {
	position: absolute;
	margin-left: 360px;
	margin-top: -330px;
	text-align: center;
	font: normal 15pt Arial;
	width: 980px;
	height: auto;
	background-color: rgb(217, 234, 241);
	border-radius: 1px;
	
}
.list {
	width: 900px;
	height: 400px;
	background-color: white;
	font: normal 18pt Arial;
}
.listpcb {
	width: auto;
	height: auto;
	background-color: white;
	font: normal 18pt Arial;
}
.botaopcb {
	border-color: #D8D8D8;
	text-align: center;
	border-radius: 1px;
	font: normal 15pt Arial;
	font-size: 15px;
	width: 150px;
	background-color:#B0E0E6;
}